body {
    background-color: #eaeaea;
    user-select: none;
    color: rgba(40, 40, 44, 0.5);
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper_2 {
    box-shadow: 12px 12px 25px rgba(22, 27, 29, 0.2), -12px -12px 25px rgba(250, 251, 255, 1.0);
    height: 550px;
    width: 365px;
    border-radius: 20px;
    padding: 50px 30px;
    box-sizing: border-box;
}

.display {
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    border: none;
    background-color: #eaeaea;
    border-radius: 10px;
    box-shadow: inset -5px -5px 15px rgb(250, 251, 255), inset 5px 5px 10px rgba(22, 27, 29, 0.2);
    text-align: right;
    color: rgba(55, 55, 59, 0.5);
    font-weight: 700;
    font-size: 30px;
    padding: 15px;
}

input:focus {
    outline: none;
}

.buttons {
    /* Разместить кнопки в ряды можно с помощью float, flex, grid */
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    Вот эта херня не давала ИКВЭЛС занять 2 ячейки
    */
    grid-template-areas:
        'clear_all clear division multiplicator'
        'seven eight nine minus'
        'four five six plus'
        'one two three equals'
        'zero zero demical equals';
    grid-gap: 1em;
    justify-content: space-around;
    margin-top: 44px;
}

.key.equals {
    grid-area: equals;
    height: 100%;
}

.key.zero {
    grid-area: zero;
    width: 100%;
}

.key {
    height: 50px;
    width: 50px;
    background: #EAEAEA;
    border-radius: 10px;
    box-shadow: -3px -3px 6px rgb(250, 251, 255), 3px 3px 6px rgba(22, 27, 29, 0.23);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key:hover {
    filter: brightness(92%);

}

.key:active {
    filter: brightness(89%);
    box-shadow: inset -3px -3px 6px rgb(250, 251, 255), inset 3px 3px 6px rgba(22, 27, 29, 0.23);
}